@import "tailwindcss";


/* Use `.dark` class on <html> to enable dark: utilities (Tailwind v4 way) */
@custom-variant dark (&:where(.dark, .dark *));


/* Optional: smooth font rendering */
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }